.body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient( -45deg, #EE7752, #E73c7e, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    padding: 20px;
    animation: site-background 10s ease-in-out infinite;
    .calculator {
        max-width: 330px;
        min-width: 280px;
        margin: -7.5px auto 0;
        padding: 20px;
        background-color: $color-calculator;
        box-shadow: 0 15px 0 0 rgba($color: $color-calculator-shadow, $alpha: .9), 0 16px 0 0 rgba($color-number, $alpha: .9);
        border: 1px solid $color-number;
        border-radius: 30px; 
        box-sizing: border-box;
        @include breakpoint($breakpoint-sm) {
            transform: scale(1.1);
        }
        @include breakpoint($breakpoint-md) {
            transform: scale(1.2);
        }
        @include breakpoint($breakpoint-lg) {
            transform: scale(1.3);
        }
        @include breakpoint($breakpoint-xl) {
            transform: scale(1.4);
        }
        .display {
            width: 100%;
            max-width: 400px;
            line-height: 40px;
            word-break: break-all;
            background-color: $color-header;
            text-align: right;
            font-size: 22px;
            padding: 10px;
            border-radius: 20px; 
            word-break: break-all;
            transition: .2s;
            &.blink-blink {
                color: $color-error;
            }
        }
        .content-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .button {
                width: 23%;
                margin-top: 25px;
                background-color: $color-button;
                box-shadow: 0 5px 0 0 rgba($color: $color-button-shadow, $alpha: 1.0);
                border-radius: 20px;
                transition: .2s;
                -webkit-tap-highlight-color:transparent;
                &:active {
                    cursor: pointer;
                    background-color: darken(#fff, 5%);
                    box-shadow: 0 0px 0 0 rgba($color: darken($color-button-shadow, 5%), $alpha: 1.0);
                    transform: translateY(7px);
                }
                &.button-score {
                    background-color: $color-score;
                    box-shadow: 0 5px 0 0 rgba($color: $color-score-shadow, $alpha: 1.0);
                    border-radius: 20px; 
                    &:active {
                        cursor: pointer;
                        background-color: darken($color-score, 5%);
                        box-shadow: 0 0px 0 0 rgba($color: darken($color-score-shadow, 5%), $alpha: 1.0);
                    }
                }
                &.clear-all,
                &.clear-last-char {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

    }
}