$color-calculator:  rgba(97, 98, 104, .9);  
$color-calculator-shadow: #515359;

$color-header: #D0D6E1;
$color-header-shadow: #C3C8D4;

$color-button: #fff;
$color-button-shadow: #E4E5E6;

$color-score: #F89734;
$color-score-shadow: #DF8339;

$color-number: #373535;
$color-error: red;

//RWD

$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
